.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navigation ul {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navigation ul li {
    list-style: none;
    position: relative;
    width: 70px;
    height: 60px;
    z-index: 2;
  }
  
  .navigation ul li  {
    text-decoration: none;
    color: #555;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .navigation ul li  .icon {
    position: relative;
    background: #ffffff;
    display: block;
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 65px;
    border-radius: 65px;
    color: #222327;
    font-size: 1.5em;
    transition: 0.5s;
    transition-delay: 0s;
}

.navigation ul li  .icon:hover {
    
    background: var(--clr);
    color: #00a1ff;
    transform: translateY(-20px);
    transition-delay: 0.25s;
  }
  
  .navigation ul li.active  .icon {
    background: var(--clr);
    color: #00a1ff;
    transform: translateY(-27px);
    transition-delay: 0.25s;
  }
  
  .navigation ul li  .icon:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr);
    border-radius: 50%;
    filter: blur(5px);
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.15s;
  }
  
  .navigation ul li.active  .icon:before {
    opacity: 0.5;
    transition-delay: 0.25s;
  }
    
  .navigation ul li:nth-child(1).active ~ .indicator {
    transform: translatex(calc(70px * 0));
  }
  
  .navigation ul li:nth-child(2).active ~ .indicator {
    transform: translatex(calc(70px * 1));
  }
  
  .navigation ul li:nth-child(3).active ~ .indicator {
    transform: translatex(calc(70px * 2));
  }
  
  .navigation ul li:nth-child(4).active ~ .indicator {
    transform: translatex(calc(70px * 3));
  }
  
  .navigation ul li:nth-child(5).active ~ .indicator {
    transform: translatex(calc(70px * 4));
  }
  